In [1]:
import pandas as pd
daily_df = pd.read_csv("data/daily_report.csv")

totals_df = daily_df[["Confirmed", "Deaths", "Recovered"]].sum().reset_index(name="count")
totals_df = totals_df.rename(columns={"index": "condition"})
totals_df

   condition     count
0  Confirmed  29764055
1     Deaths    939473
2  Recovered  20225219

In [2]:
countries_df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]
countries_df = countries_df.groupby("Country_Region").sum().reset_index()
countries_df

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan      38855    1436      32503
1               Albania      11816     343       6733
2               Algeria      48966    1645      34517
3               Andorra       1483      53       1054
4                Angola       3675     143       1401
..                  ...        ...     ...        ...
183  West Bank and Gaza      33006     243      22209
184      Western Sahara         10       1          8
185               Yemen       2019     583       1221
186              Zambia      13887     326      12869
187            Zimbabwe       7598     224       5823

[188 rows x 4 columns]

In [1]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_country_df(country):
    def make_df(condition):
        df = pd.read_csv(f"data/time_{condition}.csv")
        df = df.loc[df["Country/Region"] == country]
        df = (
            df.drop(columns=["Province/State",
                             "Country/Region", "Lat", "Long"])
            .sum()
            .reset_index(name=condition)
        )
        df = df.rename(columns={"index": "date"})
        return df

    final_df = None
    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)
    return final_df

korea_df = make_country_df("Iran")
korea_df

        date  confirmed  deaths  recovered
0    1/22/20          0       0          0
1    1/23/20          0       0          0
2    1/24/20          0       0          0
3    1/25/20          0       0          0
4    1/26/20          0       0          0
..       ...        ...     ...        ...
234  9/12/20     399940   23029     344516
235  9/13/20     402029   23157     346242
236  9/14/20     404648   23313     348013
237  9/15/20     407353   23453     349984
238  9/16/20     410334   23632     352019

[239 rows x 4 columns]

In [2]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_global_df():
    def make_df(condition):
        df = pd.read_csv(f"data/time_{condition}.csv")
        df = (
            df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1)
            .sum()
            .reset_index(name=condition)
        )
        df = df.rename(columns={"index": "date"})
        return df

    final_df = None
    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)
    return final_df

global_df = make_global_df()
global_df

        date  confirmed  deaths  recovered
0    1/22/20        555      17         28
1    1/23/20        654      18         30
2    1/24/20        941      26         36
3    1/25/20       1434      42         39
4    1/26/20       2118      56         52
..       ...        ...     ...        ...
234  9/12/20   28758945  920231   19439157
235  9/13/20   28995373  923873   19624935
236  9/14/20   29190841  927249   19775100
237  9/15/20   29558869  934857   20078979
238  9/16/20   29764055  939473   20225219

[239 rows x 4 columns]